*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head{
    position: fixed;
    width: 100%;
    background-color: white;
}

.head #navbar1{
    display: flex;
    justify-content: space-between;
    padding: 5px 30px 5px 30px;
    background-color: rgb(199, 199, 199);
    font-size: small;
}

.head #navbar1 ul{
    display: flex;
    gap: 20px;
}

.head #navbar1 ul li a{
    text-decoration: none;
    color: black;
}

.head #navbar2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px 15px 0px;
}

.head #navbar2 ul{
    display: flex;
    gap: 30px;
}

.head #navbar2 ul li a{
    text-decoration: none;
    color: black;
}

.head #navbar2 ul p{
   border-radius: 5px;
   padding: 5px 10px 5px 5px;
   background-color: rgb(222, 218, 218);
}

.head #navbar2 ul p i{
   padding: 3px 10px 3px 3px;
}

.head #navbar2 ul p input{
    border: none;
    outline: none;
    background-color: rgb(222, 218, 218);
}

.head #navbar3 ul{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-top: 1px solid rgb(199, 199, 199);
    font-size: large;
}

.head #navbar3 ul li a{
    text-decoration: none;
    color: black;
}

.main{
    padding-top: 140px;
}

main .slider ul{
    display: flex;
}


main .slider2 ul{
    display: flex;
}

main .slider2 p{
    font-size: xx-large;
    text-align: center;
    padding: 20px;
}

main .slider3 ul{
    display: flex;
}

main .slider3 p{
    font-size: xx-large;
    text-align: center;
    padding: 20px;
}

main .slider4 ul{
    display: flex;
}

main .slider5 ul{
    display: flex;
    justify-content: center;
}

main .slider6 ul{
    display: flex;
}

main .slider6 p{
    font-size: xx-large;
    text-align: center;
    padding: 20px;
}

main .slider7 ul{
    display: flex;
}

main .slider8 ul{
    display: flex;
    justify-content: center;
}

main .discount2 ul li{
    text-align: center;
}

footer{
    background-color: rgb(24, 23, 23);
    color: white;
    padding: 80px 30px 30px 30px;
}

.foot{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 20px 0px;
}

.foot .footer2 ul li{
    padding: 7px;
}

.foot .footer3 ul li{
    padding: 7px;
}

.foot .footer4 ul li{
    padding: 7px;
}

.foot .footer4 ul li i{
    padding: 0px 8px 0px 8px;
}

.foot .footer5 ul li{
    padding: 7px;

}

.foot .footer5 ul .email input{
    border: none;
    outline: none;
    background-color: black;
    padding: 10px;
    border-bottom: 1px solid rgb(253, 216, 53);
}

.foot .footer5 ul .email button{
    background-color: rgb(253, 216, 53);
    padding: 10px 15px 10px 15px;
    border: none;
}