*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header nav #navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px 15px 0px;
    border-bottom: 1px solid gray;
}

header nav #navbar ul{
    display: flex;
    gap: 30px;
}

header nav #navbar ul li a{
   text-decoration: none;
   color: black;
}

header nav #navbar ul p{
   border-radius: 5px;
   padding: 5px 10px 5px 5px;
   background-color: rgb(222, 218, 218);
}

header nav #navbar ul p i{
   padding: 3px 10px 3px 3px;
}

header nav #navbar ul p input{
    border: none;
    outline: none;
    background-color: rgb(222, 218, 218);
}

/* /* body{
    margin: 50px 200px 50px 200px;
    padding: 20px;
    font-size: 19px;
} */

h1{
    text-align: center;
    padding: 12px;
}

h3{
    padding: 12px;
}

.container{
    padding: 20px 100px 20px 100px;
    background-color: rgb(241, 241, 239);
    border-radius: 40px;
    border: 1px solid rgb(178, 174, 174);
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="date"],
select,
textarea{
    width: 100%;
    padding: 12px;
    margin: 12px;
    border: 1px solid rgb(178, 174, 174);
    border-radius: 5px;
}

fieldset{
    background-color: #fff;
    border: 1px solid rgb(178, 174, 174);
    border-radius: 5px;
    width: 100%;

}

input[type="submit"]{
    width: 100%;
    background-color:  rgb(253, 216, 53);
    padding: 10px 15px;
    margin: 10px 15px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    
}

input[type="submit"]:hover{
    background-color:  rgb(190, 160, 27);
    margin: 10px 15px;
}