*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header nav #navbar2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px 15px 0px;
    border-bottom: 1px solid gray;
}

header nav #navbar2 ul{
    display: flex;
    gap: 30px;
}

header nav #navbar2 ul li{
    transition: all 0.5s ease;
 }
 
header nav #navbar2 ul li:hover{
    transform: scale(1.1);
 }

header nav #navbar2 ul li a{
    text-decoration: none;
    color: black;
}

header nav #navbar2 ul p{
   border-radius: 5px;
   padding: 5px 10px 5px 5px;
   background-color: rgb(222, 218, 218);
}

header nav #navbar2 ul p i{
   padding: 3px 10px 3px 3px;
}

header nav #navbar2 ul p input{
    border: none;
    outline: none;
    background-color: rgb(222, 218, 218);
}

main section{
    text-align: center;
}

main section p{
    margin: 10px;
    font-size: 20px;
}

main section button{
    margin: 30px 0px 50px 0px;
    padding: 10px 50px 10px 50px;
    width: 40%;
    border-radius: 10px;
    border: none;
    background-color: rgb(253, 216, 53);
    font-size: 15px;
    box-shadow: 5px 5px 5px 0px gray;
 }

main section button a{
   text-decoration: none;
   color: black;
 }